<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,height=device-height,initial-scale=1">
</head>
<body>
<form align="center" method="POST">
    <label for="limit">Entries per page</label><br>
    <input type="text" id="limit" name="limit"><br><br>
    <label for="page">Page</label><br>
    <label for="page">(1 or greater)</label><br>
    <input type="text" id="page" name="page"><br>
    <input type="submit" value="Request">
</form>
</body>
</html>